@import url("https://fonts.googleapis.com/css?family=Catamaran:400,700|Grand+Hotel");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Color & variables */
:root {
  --primaryColor: #698f3f;
  --secondaryColor: #fca311;
  --mainDark: #3a3e3b;
  --mainWhite: #fff;
  --mainGrey: #e5e5e5;
  --slantedText: "Grand Hotel", cursive;
  --mainTransition: all 0.3s linear;
  --letterSpacing: 0.5rem;
}

body {
  font-family: "Catamaran", sans-serif;
  background: var(--mainWhite);
  color: var(--mainDark);
  line-height: 1.5;
}
/* utility classes */

a {
  text-decoration: none;
}
.text-white {
  color: var(--mainWhite);
}
.text-center {
  align-items: center;
}
.text-primary {
  color: var(--primaryColor);
}
.nav-btn {
  position: fixed;
  top: 0;
  left: 0;
  color: var(--primaryColor);
  z-index: 1;
  margin: 1rem 1.3rem;
  font-size: 2rem;
  animation: bounce 2s ease-in infinite;
  cursor: pointer;
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

/* navbar */
.navbar {
  position: fixed;
  /* display:none; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--mainGrey);
  z-index: 2;
  padding-top: 1rem;
  padding-left: 2rem;
  transition: var(--mainTransition);
  transform: translate(-100%);
}

.nav-close {
  font-size: 2rem;
  cursor: pointer;
}
.nav-items {
  list-style-type: none;
}

.nav-link {
  display: block;
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--primaryColor);
  transition: var(--mainTransition);
}
.nav-link:hover {
  color: var(--minColor);
  padding-left: 0.5rem;
}
.showNav {
  transform: translateX(0);
}
/* media query */
@media screen and (min-width: 768px) {
  .navbar {
    width: 30vw;
    max-width: 20rem;
  }
}
/* header */
.header {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("../images/main-bcg.jpeg") center/cover no-repeat fixed;
    position: relative;
  }
